<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">


         <!--Creating beans for actor-->


    <bean id="actor" class="com.stackroute.domain.Actor">
        <constructor-arg name="name" value="Rohit Chakravorty"/>
        <constructor-arg name="gender" value="M"/>
        <constructor-arg name="age" value="21"/>
    </bean>
    <bean id="actor1" class="com.stackroute.domain.Actor">
        <constructor-arg name="name" value="Sabyasachi Sahoo"/>
        <constructor-arg name="gender" value="M"/>
        <constructor-arg name="age" value="21"/>
    </bean>
    <bean id="actor2" class="com.stackroute.domain.Actor">
        <constructor-arg name="name" value="Mites Mrinoy"/>
        <constructor-arg name="gender" value="M"/>
        <constructor-arg name="age" value="21"/>
    </bean>
     <!--Creating bean for movie autowire--> 

    <bean id="movie" scope="prototype" class="com.stackroute.domain.Movie" autowire="byName">

    </bean>
    <bean id="movie1" scope="prototype" class="com.stackroute.domain.Movie" autowire="constructor">

    </bean>
       <!--Bean LifeCycle-->
    <bean id="demo" class="com.stackroute.demo.BeanLifecycleDemoBean" destroy-method="customDestroy" init-method="customInit" >
        
    </bean>

</beans>
